<h1>Edit Custom Text Sections</h1>

<ul class="list-group">
	<li class="list-group-item" ng-repeat="section in textSections">
		<a ng-href="#/catalog/text-sections/{{section._id}}">{{section.title}}</a>
		<button class="btn btn-danger pull-right" ng-click="removeTextSection(section._id)">
			<span class="glyphicon glyphicon-trash"></span>
		</button>
	</li>
</ul>

<button class="btn btn-default" ng-click="newTextSection()">
	<span class="glyphicon glyphicon-plus"></span>
	Add custom text section
</button>